# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
site/node_modules
site/bower_components
site/public/css/*
site/public/js/*
site/public/fonts/*

# testing
coverage

# production
site/build

# misc
.DS_Store
.env
npm-debug.log
